<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjhc.credit.information.service.server.dao.mapper.RegionMapper">
    <select id="selectByParentId" parameterType="java.lang.String" resultType="com.rjhc.credit.information.service.api.model.dto.RegionDto">
    SELECT
    id,
    region_name,
    parent_id
    FROM
    t_region,
    ( SELECT queryChildrenRegions ( #{id} ) pCodes ) t
    WHERE
    FIND_IN_SET( id, pCodes )
</select>
</mapper>
